[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
django-cors-headers = "*"
drf-spectacular = "*"
djangorestframework-stubs = "*"
pillow = "*"
gunicorn = "*"
whitenoise = "*"
dj-database-url = "*"
psycopg2-binary = "*"
python-decouple = "*"

[dev-packages]

[requires]
python_version = "3.14"
